@media (width < 912px){

      .navbar{
        width: 100vw;
      }

      #navbarNavDropdown{
        background: rgb(16,16,17);
      }

      #home{
        padding-top: 0;
        display: flex;
        width: 100vw;
        height: 105vh;
        align-items: center;
        justify-content: center;
      }

      .animated-text {
        /* margin-top: 30px; */
        width: 87vw;
        height: 14vh;
        /* background-color: black; */
      }

      .animated-text span{
        font-size: 65px;
        letter-spacing: 6px;
      }

      .short-intro{
        margin-top: 2vh;
        width: 95vw;
        height: 45vh;
        /* background-color: orange; */
      }

      .short-intro p{
        font-size: 23px;
      }

      .menu-btn{
        margin-top: 2vh;
        width: 185px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 7px;
      }


/* START: SERVICE HERE */
      .service-container{
        margin-top: 1vh;
        display: flex;
        width: 100vw;
        height: 110vh;
        justify-content: center;
        /* background-color: orange; */
      }
      .service-head{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
      }

      .submenu-img{
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: 40vh;
        justify-content: space-evenly ;
        align-items:center ;
        /* background-color: blueviolet; */
        }

        .submenu-img img{
          width: 150px;
          height: 100px;
          /* border-radius: 6px; */
          }
  
  
    /* START: BEST OFFER SECTION */
    #best-offer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      height: 110vh;
    } 

    .pic{
      width: 100%;
      height: 50%;
      /* background-color: aqua; */
    } 
    .one{
      width: 100%;
      height:65%;
      /* background-color: orange; */
    }

    .pic img{
      width: 250px;
      height: 250px;
    }

    /* START JUST YETY SLOGAN  */
    #just-yety{
      display: none;
    }

    
    #just-yety-second{
      display: flex;
    }
/* ********************** */
    #service{
      height: 90vh;
      margin-top: 3vh;
    }
    .menu-container{
      height: 100%;
    }
    .cover-menu{
      height: 100%;
    }
    .img-left img{
        width: 100%;
        height: 75%;
        /* background-color: purple; */
    }

/* *********************************** */
        
    #cont-bar p{
      font-size: 22px;
    }
    #cont-bar .fa-solid{
      margin-right: 5px;
      display: flex;
      width: 40px;
      height: 40px;
      border-radius:20px;
    }
/* *************************************** */
    #company{
      display: flex;
      height: 65vh;
    }

    .logo-name{
      display: flex;
      flex-direction: column;
      height: 35vh;
      /* background-color: white; */
    }
    .logo-name img{
      margin-right: 0;
    }
    .logo-name h1{
      padding-top: 30px;
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 8px;
      word-spacing: 8px;
    }

    .socials{
      /* margin-top: 7vh; */
      width: 100vw;
      justify-content: center;
        /* background-color: blue; */
    }
    .socials a{
      padding: 15px;
    }

    .location-address{
      margin-top: 2vh;
      display: flex;
      width: 100%;
      height: 5vh;
      /* background-color: yellow;       */
    }
/* *************************************** */

    footer{
      display: flex;
      width: 100vw;
      height: 12vh;
      justify-content: center;
      align-items: center;
    }

    .foot{
      display: flex;
      width: 100%;
      height: 100%;
      /* background-color: blue; */
    }
    

      
}