@media (width < 912px){

      .navbar{
        width: 100vw;
      }

      #navbarNavDropdown{
        background: rgb(16,16,17);
      }

      #home{
        padding-top: 10vh;
        display: flex;
        width: 100vw;
        height: 105vh;
        align-items: center;
        justify-content: center;
      }

      .animated-text {
        margin-top: 40px;
        width: 70vw;
        height: 12vh;
        /* background-color: black; */
      }

      .animated-text span{
        font-size: 65px;
        letter-spacing: 6px;
      }

      .short-intro{
        width: 85vw;
        height: 55vh;
        /* background-color: orange; */
      }

      .short-intro p{
        font-size: 20px;
      }

      .menu-btn{
        margin-top: 3vh;
        width: 185px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 7px;
      }


/* START: SERVICE HERE */
      .service-container{
        /* margin-top: 5vh; */
        display: flex;
        width: 100vw;
        height: 110vh;
        justify-content: center;
        /* background-color: orange; */
      }
      .service-head{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
      }

      .submenu-img{
        /* margin-top: 3vh; */
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: 70vh;
        justify-content: space-evenly ;
        align-items:center ;
        /* background-color: blueviolet; */
        }

        .submenu-img img{
          width: 150px;
          height: 100px;
          border-radius: 6px;
          }
  
  
    /* START: BEST OFFER SECTION */
    #best-offer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      height: 110vh;
    } 

    .pic{
      width: 100%;
      height: 50%;
      /* background-color: aqua; */
    } 
    .one{
      width: 100%;
      height:65%;
      /* background-color: orange; */
    }

    .pic img{
      width: 250px;
      height: 250px;
    }

    /* START JUST YETY SLOGAN  */
    #just-yety{
      display: none;
    }

    
    #just-yety-second{
      display: flex;
    }
/* ********************** */
    #service{
      height: 90vh;
      margin-top: 3vh;
    }
    .menu-container{
      height: 100%;
    }
    .cover-menu{
      height: 100%;
    }
    .img-left img{
        width: 100%;
        height: 75%;
        /* background-color: purple; */
    }

/* *********************************** */
    #cont-bar a{
      font-size: 20px;
    }
/* *************************************** */
    #company{
      display: flex;
      height: 50vh;
    }

    .logo-name{
      display: flex;
      flex-direction: column;
      height: 18vh;
    }

    .socials{
      width: 100vw;
      justify-content: center;
        /* background-color: blue; */
    }
    .socials a{
      padding: 30px;
    }

    .location-address{
      margin-top: 0;
      display: flex;
      width: 100%;
      height: 5vh;
      /* background-color: yellow;       */
    }

      
    
}